.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 12px;
   
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#FF859B 0%, #FF136f 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 40px;
    border-radius: 18px;   
}
.cat1{
    background-color: tomato;
}
.cat2{
    background-color: cyan;
}
.cat3{
    background-color:powderblue;
}
.cetegories h1{
    color: white;
}
.cetegories img{
    width: 105px;
}